<%- include('parts/header') %>
<%- include('parts/navbar') %>
<div class="container">
    <form action="/" m>
        <h1>LogIn </h1>
        <div class="form-group">
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <input type="email" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" class="form-control">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<%- include('parts/footer') %>