<div class="py-1" style=" text-align: center;">
    <h5 style="margin: 20px">created by osama adel</h5>
</div>

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>