<nav class="navbar navbar-expand-sm navbar-dark bg-primary nav-fill">
    <div class="container">
        <a class="navbar-brand">shopping app</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home </a>
                </li>


                <% if (userid && !isAdmin) { %>
                <li class="nav-item">
                    <a href="/cart" class="nav-link ">cart </a>
                </li>
                <li class="nav-item">
                    <a href="/cart" class="nav-link">orders</a>
                </li>
                <% } else if (!userid && !isAdmin) { %>

                <li class="nav-item">
                    <a href="/login" class="nav-link">login</a>
                </li>

                <li class="nav-item">
                    <a href="/signup" class="nav-link">signup</a>
                </li>
                <% } %>

                <% if (isAdmin) { %>
                <li class="nav-item">
                    <a href="/admin/add" class="nav-link ">add product</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/manage" class="nav-link ">manage orders</a>
                </li>
                <% } %>

            </ul>
            <% if (userid || isAdmin) { %>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item  ">
                        <a href="/logout" class="nav-link btn btn-danger m-1">Logout</a>
                    </li>
                    <li class="nav-item  mx-3" style=" padding: 10px 0;">
                        <img src="/img/u.png" alt="person" style="width: 30px; height: 30px;">
                    </li>
                </ul>
            </div>



            <% } %>




        </div>
    </div>


</nav>